:root{
    --defaultBackgroudColor: #000000;

    --primaryTextColor: #ffffff;
    --highlightColor: #FF5252;

    --primaryFontFamily: "Press Start 2P";
    --secondaryFontFamily: Jost;

    --botSize: 250px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--defaultBackgroudColor);
    font-family: var(--primaryFontFamily);
}

header{
    padding-top: 10px;

    display: flex;
    justify-content: center;
}

main{
    margin-top: 100px;

    display: flex;
    justify-content: center;

    align-items: center;

    flex-direction: column;
}

#botLogo{
    position: relative;
}

#botFace{
    width: var(--botSize);
}

#botEyes{
    display: flex;
    position: absolute;

    width: var(--botSize);
}

#talkingArea{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    padding: 30px;

    width: 800px;
    height: 200px;

    background-color: #ffffff10;
}

.talkingButton{
    font-family: inherit;
    font-size: 20px;

    background-color: transparent;
    color: var(--primaryTextColor);
    
    border:none;

    margin: 30px;
}
.talkingButton:hover{
    color: var(--highlightColor);
}

/* #triangleSelection{
    display: flex;
    position: absolute;

    top: 560px;
    left: 700px;

    border-right: 10px solid transparent;
    border-left: 10px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
} */

#triangleClose{
    display: flex;
    position: absolute;

    bottom: 10px;
    right: 10px;

    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid var(--primaryTextColor);
}

#inviteButton{
    margin-top: 50px;

    width: 80px;

    background-color: var(--highlightColor);
    
    border-radius: 5px;
    border-color: transparent;

    font-family: var(--secondaryFontFamily);
    font-size: 30px;
}