:root{
    --corEnfase: #ff5252;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    color: #ffffff;
    background-color: #000000;

    font-family: Jost;
    font-weight: bold;

    display: flex;
    
}

.sideBarSection{
    display: flex;

    flex-direction: column;

    align-items: center;
    
    width: 40%;

    padding-top: 20px;

}

.contentSection{
    display: flex;
    flex-direction: column;
}

button{
    color: #ffffff;

    font-family: Jost;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content:end;
    align-items: center;
    
    height: 80px;
    
    padding-right: 80px;
    padding-top: 20px;
}

.navDiv{
    
    margin-right: 50px;
}

.navButtons{
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 30px;
}
.navButtons:hover{
    color: var(--corEnfase);
    cursor: pointer;
}

.inviteButton{
    border-radius: 10px;

    font-size: 20px;

    background-color: transparent;
    border: 2px solid var(--corEnfase);

    height: 50px;
    width: 120px;
}
.inviteButton:hover{
    background-color: var(--corEnfase);
    border-color: var(--corEnfase);
    color: #000000;
    cursor: pointer;
}

.botIconNav{
    height: 70px;
}

.botIcon{
    height: 150px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 45px;
}

em{
    font-style: normal;
    color: var(--corEnfase)
}

p{
    font-size: 40px;
}

.linhaNavegacao{
    margin-top: 400px;

    width: 5px;
    height: calc(100% - 950px);
    background-color: var(--corEnfase);

    border-radius: 200px;
}

.sectionCentralize{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 200px;
    margin-bottom: 400px;
}

.contactButon{
    border-radius: 10px;
    padding: 10px;

    font-size: 40px;

    background-color: transparent;
    border: 2px solid var(--corEnfase);
}
.contactButon:hover{
    background-color: var(--corEnfase);
    color: #000000;
    cursor: pointer;
}

.elementArea{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}